# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
client/node_modules
client/.pnp
.pnp.js
# testing
client/coverage
# build
# KEEP THE build/ directory! It is needed for deployment
# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/npm-debug.log*
client/client/yarn-debug.log*
yarn-error.log*